{% extends 'game/base.html' %}
{% block title %} ***** {% endblock %}
{% load staticfiles %}
{% block index %}

<main class="index">

  <section class="joqd grey-lighten-4 container-narrow">
    <div class="joqd row">
      <div class="joqd mobile-12">
        <h2 class="joqd h3 align-center grey-darken-2-text">تمام شهر رو کشف کن!</h2>
        <p class="joqd align-center small grey-darken-1-text">دنبال سر نخ بگرد تا بتونی هدف بعدی رو پیدا کنی. <a href="about.html" class="joqd link orange-text">با بازی بیشتر آشنا شو.</a></p>
      </div>
    </div>
  </section>

  <!-- Carousel -->
  <section class="joqd grey-lighten-4 container-narrow">
    <div class="joqd row">
      <div class="joqd mobile-12 no-gaps owl-carousel owl-theme">
        {% for location in location_list %}
        <div class="item joqd align-center">
          {% if location.visited %}
            <a href="{% url 'location_detail' location.pk %}">
              <img src="{{location.img.url}}" alt="{{location.local_name}}">
        	  </a>
            <h3 class="joqd grey-darken-3-text">{{location.local_name}}</h3>
          {% else %}
            <span>
              <img src="{% static 'images/unknown.png' %}" alt="کشف نشده">
            </span>
            <h3 class="joqd grey-darken-3-text">کشف نشده</h3>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- /Carousel -->

</main>


{% endblock %}

{% block index_scripts %}
<!-- Owl Carousel js -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- Custom js -->
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    rtl: true,
    loop: true,
    margin: 12,
    items: 2,
    center: true
  })
</script>
{% endblock %}
